.blog-content-img{
    width: 1500px;
    height: 619.86px;
    
}
.contenttitle{
    width:871px;
    margin-left:13.375rem;
}
.blogdate{
    font-weight: 400;
    font-size: 22px;
    color: #2078BF;
}
.main-box{
    width: 100%;
    height: 619.86px;
    background-image: url('./rectangle.png');
    background-size: cover;
}
.top-buttons{
    width: 115px;
    height: 151px;
    border-radius: 0.5px;
    position: relative;
    top: 400px;
    left: 1278px; 
}
.right-carousel{
    width: 115.5px;
    height: 75.81px;
    background-image: url('./rightArrow.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5px;
}
.left-carousel{
    width: 115.5px;
    height: 75.81px;
    background-image: url('./leftArrow.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5px;
}
.title{
    width:54.437rem;
    height:5rem;
    line-height: 2.5rem;
    /* margin-left:13.375rem; */
    margin: 0%;
    line-height: 40px;
    margin-top:7.6875rem;
}
.title {
    color:#2078BF;
    font-weight: 700;
    font-size: 36px;
}
.discription{
    margin-left:13.375rem;
    margin-top:6.562rem;
    width:67.66%;
    margin-right:13.3125rem;
    font-weight:400;
    /* font-size:1.125rem; */
    font-size:112.5%;
    /* font-size:1.3177vw; */
    line-height:2.5rem;
    color: #838383;
}
@media(max-width:380px){
    .big_bar{
        display: none !important;
    }
    .small_bar{
        display: block;
        margin-left: 90%;
        padding-top: 1rem;
    }
    header{
        width: 100%;
        height: 3.8125rem;
        background-color: #2078BF; 
    }
    .bar_img{
        width: 0.687rem;
        height: 0.5rem;
    }
    .small_menu{
        background-color: #2078BF;
    }
    .close{
        width: 1.375rem;
        height: 1.512rem;
        margin-top: 2.5rem;
        margin-left: 85%;
    }
    .menu_content_small{
        text-decoration: none;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 1.5rem;
        color: #ffffff;
        display: block;
        margin-top: 3.187rem;
    }
    .sub{
        font-size: 0.8125rem;
        margin-top: 1.125rem;
    }
    .buy_button , .log_button{
        border-radius: 5px;
        margin-top: 2.25rem;
        margin-right: 0%;
    }
    .menu_bottom{
        margin-top: 9.9375rem;
    }
    .menu_faqs{
        font-family: karla;
        font-weight: 400;
        font-size: 0.625rem;
        margin: 0px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.093rem;
    }
    .main-box{
        width: 376px;
        height: 170px;
        background-image: url('./rectangle.png');
        background-size: cover;
    }
     .contenttitle{
        width: 222px;
        height: auto;
        margin-left: 42px;
        margin-top: 27px ;
        /* top: 258px;
        left: 20px; */   
    }
    .title{
        width: 222px;
        height: auto;
        /* top: 258px;
        left: 42px; */
        color:#2078BF;
        font-weight: 700 bold;
        font-size: 10px;
        margin-top: 0px; 
    }
    .blogdate{
        width: 33px;
        height: 8px;
        /* top:287px;
        left: 42px; */
        font-size: 6px;
        line-height: 7px;
    }
    .discription{
        margin-left:44px;
        margin-top:19px;
        width:285px;
        /* margin-right:13.3125rem; */
        font-weight:400;
        font-size:8px;
        line-height:160%;
        color: #838383;
    }
    .txt{
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0px;
        text-align: left;
    }

}

