.dimesionalpage-form{
    .add-to-cart-button{
        float: right;
        margin-bottom: 4%;
    }
    .product-cards{
        p{
            margin: 0px;
        }
        margin-left: 20px;
        width:250px;
        border-color: #838383;
        display: inline;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: ubuntu;
    }
    .heading-dimension{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 400;
        text-align: center !important;
        width: 550px;
        color:  #2078BF;
        padding-top: 30px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold !important;
        font-size: 25px;
        margin: auto;
        margin-bottom: 1%;
    }
    .dimesional-description{
        margin-left: 100px;
        margin-right: 50px;
    }
    .hint-heading{
        width: 228px;
        height: 24px;
        font-family: Ubuntu;
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #838383;
    }
    .continuebutton{
        border: 0.134rem solid #00C3FF;
        border-radius: 0.3125rem;
        height: 2.75rem;
        width:11.063rem;
    }
}