.resetSection{
    width: 1000px;
    background-color: #fff;
    margin: 4rem auto;
    

  h3{
    color: #2078bf;
    padding-bottom: 25px;
    font-weight: 700;
    font-family: 'Ubuntu';
  }
  .resetpage{
    padding-top: 0px;
  }
 .formContainer{

  label{
    color: #838383;
    font-family: 'Ubuntu';
   }

   p{
   color: #838383;
   font-weight: 700;
   font-family: 'Ubuntu';
   }
   button{
    width: 196px;
    height: 50px;
   }


   input{
    // width: 900px;
    height: 50px;
    margin-bottom: 15px;
   }
   img{
    position: absolute;
    top: 60px ;
    right: 30px;

   }
   
   
 }
 @media (max-width:576px){
   width: 100vw;
    margin: 0px;
    .resetpage{
      padding-top: 0px;

      form {
        input{
          padding: 10px;
        }
        img{
        top: 40px ;
    right: 15px;
      }}
    }
    h3{
      padding-bottom: 0px;
    }
  }

}