
@font-face {
    font-family: ubuntu;
    src: url("./Fonts/Ubuntu/Ubuntu-Regular.ttf");
  }

body{
    font-family: ubuntu;  
    width: 100%;
    background-color: #F5FBFF;
    overflow-x:hidden;
}

.di{
    background-color: #2078BF;
}
.blog-content{
    margin-top: 100px;
    color: #2078BF;
    font-size: 24px;
}

.blog{
    background-image: url("./img/Rectangle.png"); 
    width: 100%;
    background-size:cover;
    height: 38.75rem;
} 
h1{
   font-weight:700;
   font-size:3.5rem;
   color: #ffffff;
   line-height:4.875rem;
   padding-top: 16.4375rem;
   padding-bottom: 0rem;
}
.aboutus-content{
    font-weight: 400;
    font-size: 1.6875rem;
    line-height:4.875rem;
    color:#ffffff;
    margin-top:1.312rem
} 
/* .blog_title:hover{
    text-decoration: none !important;
} */
.main_box{
    width: 90% !important;
    /* height: 300px; */
    /* background-color: #2078BF; */
    margin: auto !important;
    margin-top: 70px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    /* gap: unset; */
}
.blogImg{
    z-index: -10 !important;
    width: 100%;
    height: 100%;

}
.carousel-indicators{
    margin-left: 49% !important;
    margin-top: 30px !important;
    margin-bottom: 0% !important;
    background-color: rgba(127, 214, 255, 0.808);
    width: 65px !important;
    border-radius: 5px;
    position: absolute;
    bottom: -81px !important;

}
.first_box{
    /* background-color: black; */
    background-image: url('./img/Rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 650px;
    height: 30rem;
    margin-bottom: 1.1825rem !important;
    margin-right: 10px !important;
    border-radius: 0.625rem;
    cursor: pointer;



}

.second_box {
    width: 322px !important;
    height: 30rem;
    background-color:#2078BF;
    margin-bottom: 1.1825rem;
    margin-right: 10px !important;
    /* margin-top: 10px; */
    border-radius: 0.625rem;
    cursor: pointer;
} 

.blog-component a{
    height: 30rem;
    text-decoration: none !important;
    margin-top: 15px;
    /* z-index: 10; */
}
.blog_title{
    width: 80%;
    font-weight: 700;
    font-size: 28px;
    color: white;
    text-transform: uppercase; 
    position: relative !important;
    top:-443px;
    left: 55px;
}

@media(max-width:376px){
     .blog{
        background-image: url("./img/Rectangle\ 3.png"); 
        width: 100%;
        background-size:cover;
        height: 10.625rem;
     }
     h1{
        font-weight:700;
        font-size:1.25rem;
        color: #ffffff;
        
        padding-top: 4.175rem;
        padding-bottom: 0rem !important;
     }
     .aboutus-content{
        font-weight:400;
        font-size: 0.437rem;
        color: #ffffff;
      
    }
    .blog-content{
        font-size:0.625rem;
        line-height:1rem;
        width:12.562rem;
        margin:auto;
        margin-top: 31px;
    }
    .main_box{
        margin:auto;
        margin-top: 1.25rem;
        width:200px;
        flex-wrap: wrap;
    }
    .first_box,.second_box {
        width: 100% !important;
        height: 5.889rem;
        margin-bottom: 0.875rem;
        border-radius: 0.625rem;
    }
    .blog_title{
        width: 80%;
        margin: 0%;
        font-weight: 700;
        font-size: 10px;
        color: white;
        padding-top: 23px;
        padding-left:14px;
        text-transform: uppercase;
    }
    a{
        height: 7rem;
        text-decoration: none !important;
    }

} 
