@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.modalContainer {
  overflow: hidden;
}
.buy_button {
  background-color: #2078bf;
  margin-right: 2.8%;
  border: 2px solid #00c3ff !important;
  color: #ffffff;
}
.locationPopUp-modal-container {
  width: 800px;
  transform: "translate(-50%, -50%)";
  background-color: #ffffff;
  overflow: hidden;
  border: '2px solid #000';
  border-radius: 10px;
  margin: auto;
 
}
.locationPopUp-window{
  padding: 30px 0px;
  width: 500px;
  margin: auto;
  
}
.popUp {
  display: flex;
  border-radius: 0.3125rem;
  font-family: "Ubuntu", sans-serif;
  background-color: #ffffff;
  margin: auto;
}

.locationPopUp-window .modal-title{
      color: #2078bf;
  }
  .locationPopUp-window .modal-title h3{
    font-weight: 700;
  }
  

.popUpContent {
  margin: 0;
  
}



.pLoc {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: gray;
  margin-left: 3rem;
}

.dropDown {
  margin-top: 3.375rem;
  margin-bottom: 3.375rem;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #2078bf;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #2078bf;
}

.dropDown .dropdownToggle {
  margin: auto;
  margin-left: 42px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  border-radius: 5px;
  width: 362px;
  /* width: 22.86vw; */
  color: #838383;
  text-align: start;
 
}



.btn-cnt {  
  width: 12.25rem;
  height: 3.125rem;
  
}

.btn-cnt,
.btn-add {
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 1.5rem;
  background: #06864d;
  border: none;
  border-radius: 5px;
}

.addLocation {
  margin-right: 1rem;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.btn-add,
.addLocation {
  height: 40px;
  font-size: 1rem;
  padding: 0 1rem;
}




@media (min-width:0px) and (max-width:576px){
  .locationPopUp-modal-container{
    width:84vw;
    margin: auto;
    
  }
  .locationPopUp-window, .popUp, .popUpContent{
    width: 100%;
    

  }
  .locationPopUp-window .modal-title h3{
    /* font-weight: 700; */
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .locationPopUp-window .modal-title .article{
    font-size: 0.87rem;
    line-height: 1rem;

  }
  .pLoc , .btn-add  {
    font-size: 0.87rem;
    margin: 0 !important;
    
  }
  .btn-add{
    height: 30px;
  }
  
 
  .addLocation{
    font-size: 0.87rem;
  }
  .dropDown .dropdownToggle{
    font-size: 1rem;
    width:65vw;
    margin: 20px auto;
  }

  .btn-cnt {
    width:6.43rem;
    height: 30px;;
    font-size: 0.87rem;
  }
  
  
 
}

 /* @media (min-width:0px) and (max-width:576px){
  .locationPopUp-modal-container{
    border-radius: 30px;
  }
  .locationPopUp-window .modal-title h3{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .locationPopUp-window .modal-title .article{
    font-size: 1.5rem;

  }
  .pLoc , .btn-add  {
    font-size: 1.2rem;
  }
  .addLocation{
    font-size: 1.1rem;
  }
  .errormsg{
    font-size: 1.1rem;
  }
  .dropdownToggle{
    font-size: 2rem;

  }
  
  
} */