.cart_nav {

  /* position: absolute; */

  right: 75.47%;

  top: 30.08%;

  bottom: 77.9%;

  margin-top: 9%;

  font-family: Ubuntu;

  font-style: normal;

  font-weight: normal;

  font-size: 1rem;

  line-height: 1.5rem;

  color: #838383;

}



.cart_link {

  /* list-style-type: none;

  float: left;

  padding: 0.312rem;
  font-size: 1rem;
  text-decoration: none; */
  

    list-style-type: none;

    float: left;

    padding: 0.12rem;

    text-decoration: none;

    color: #838383;

}

.hitcount{
  border-radius: 5px;
}
.quantity_1 {

  width: 5.313rem;

  height: 2.438rem;

  border: 1px solid #e0e0e0;

  border-radius: 5px;

  margin-bottom: 1rem;

 



}

.cart_heading {

  /* position: absolute; */

  left: 9.4%;

  right: 69.2%;

  /* top: 40.3%; */

  bottom: 71.01%;

  font-family: Ubuntu;

  font-style: normal;

  font-weight: bold;

  font-size: 2.25rem;

  line-height: 1.5rem;

  letter-spacing: 0.1px;

  color: #838383;

  padding-left: 1.875rem;

  padding-top: 0.937rem;
  margin-top: 2rem;
  margin-left : -29px;

}



.item_count {

  font-size: 1rem;

}
hr {

  /* position: absolute; */

  left: 9.4%;

  right: 7.4%;

  top: 45.42%;

  bottom: 69.58%;

  border: 1.1px solid #D5D5D5;

}



.tab{

  text-align: center;
  margin-top: 4rem;

 

 

}



.tablecol {

  left: 9.4%;

  bottom: 61.43%;

  font-family: Ubuntu;

  font-style: normal;

  font-weight: normal;

  font-size: 1.125rem;

  line-height: 1.5rem;

  letter-spacing: 0.1px;

  color: #838383;

  width: 100%;

}



.check_btn {

  right: 7.07%;  

  float: right;

  margin-top: 0.25rem;

  margin-right: 0.5rem;

}
.incre{

  background-color: #2078BF;

  width: 1.875rem;

  height: 1.437rem;

  padding: 1px;

  color: white;

  float: right;

  border: none;

 

}

.rectangle {

  width: 2.812vw;

  height: 1.25vh;

  background-color:white;

  border: 1px solid #E0E0E0;

  border-radius: 2px;

}