
.sidebar {
    width: 4.375rem;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    overflow-x: hidden;
    left: 0;
    margin-top: 7.5rem;
  }
  .sidebar li a {
    text-align: center;
    padding-top: 2.3rem;
  }
  .sidebar li a:hover {
    color: #2078BF;
  }
  .sidebar li .active svg {
    color: #2078BF;
  }
  .sidebar li svg:hover {
    color: #2078BF;
  }
  
  #mainContent {
    margin-left: 4.375rem;
    padding-top: 7.5rem;
  }