
.buy-button {
    background-color: #003966;
    margin-top: 0px;
    border: 0.134rem solid white;
    margin-left: 1.625rem;
}
.order-modal{
    width: 90%;
    transform: 'translate(-50%, -50%)';
    background-color: #ffffff;
    margin: 10% auto;
}
.ordercreation-container{  
    .cart-button{
        background-color: white;
        border: none;
    }
    .products-cards,.cards-body{
        width: 20%;
        margin-left: 9%;
        display: inline;
    }
 .popupheading{
        color: #2078BF;
        padding-top: 30px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        margin-top: 5rem;
    }
    .form-paragraph{
        color: #2078BF;
        height: 24px;
        font-family: Ubuntu; 
        font-style: normal; 
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        margin-top: 1rem;
        margin-bottom: 7rem;
    }
   .cart-icon{
       position: absolute;
       left:89%;  
   }
   .viewall-icon{
    position: absolute;
    left:84%;
    top:19%;
   }
   .product-dropdown{
       margin-left: 9% !important;
   }
    .continuebutton{
        border: 0.134rem solid #00C3FF;
        border-radius: 0.3125rem;
        height: 2.75rem;
        width:11.063rem;
        margin-top:10rem ;
    }
    .field-error{
        border: 2px solid red;
    }
    @media(max-width:400px){
        .dropdown{
            margin:auto;
        }
        .popupheading{
            color: #2078BF;
            padding-top: 30px;
            font-family: Ubuntu;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            margin-top: 5rem;
        }
        .form-paragraph{
            color: #2078BF;
            height: 24px;
            font-family: Ubuntu; 
            font-style: normal; 
            font-weight: normal;
            font-size: 10px;
            line-height: 10px;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        .form-select{
            width: 80%;
            height: 40px;
        }
        .viewall-icon{
            position: absolute;
            left:87%;
            top:15%;
            img{
                width: 50px;
                height: 50px;
            }
        
        }
        .cart-button{
            position: absolute;
            // left:70%;
            right: 30%;
            // bottom:15%;
            img{
                width: 50px;
                height: 50px;
            }
        }
        .continuebutton{
            border: 0.134rem solid #00C3FF;
            border-radius: 0.3125rem;
            font-size: 13px;
            height: 2rem;
            width:5.063rem;
        }
    }
}
