body{
    overflow-x:hidden;
    /* max-width:93.75rem; */
    background-color: #F5FBFF!important;
    font-family: ubuntu;  
}
.active{
    text-decoration: underline solid white;
}
.nav-item{
    margin-left: 2.93rem;
}
.dropdown-menu{
    padding: 0rem;
    margin: 0rem;
}
.dropdown-item:hover{
    background-color: #2078BF;
    color:white;
}

.di{
    background-color: #2078BF;
}
#navbarSupportedContent{
    padding-top: 1rem;
    padding-right: 1rem;
}
.section1{
    background-color: #003966;
    margin:0;
    padding-right:9.606rem;
    /* padding-top:12.75rem; */
    height:53.75rem;
}
.theory-x{
    padding-left:7.625rem !important;
    padding-right: 6.205625rem !important;
    padding-top:12.75rem;
    margin:0rem;
}
.theorya{
    font-size:3.5rem;
    font-weight: 43.75rem;
    max-width:38.56rem;
    height:14.625rem;
    /*padding-bottom:2.6875rem;*/
}
.theoryb{
    font-size:1.25rem;
    font-weight:25rem;
    margin-top: 2.6875rem;
    padding-top:2.6875rem;
}
.text{
    margin-bottom: 0rem;
}
.learnmore{
    height: 3.75rem;
    max-width:11.063rem;
    background-color: #06864D;
}
.buttons{
    margin-top: 3.6875rem;
}
.checkboard{
     max-width:31rem;
     height:26.375rem;
     margin-top: 13.5625rem !important;
}

.latestletter{
    margin-left:12.625rem;
    margin-top: 5.625rem;
}

.searchbar{
    height:4.24rem;
    max-width:22.745rem;
    padding:0rem,0rem !important;
}
.searchbar button{
    background: #06864D;
    padding:0rem,0rem !important;
    height:4.24rem;
    max-width:6.759rem;
}

/*ending of be a partner*/












@font-face {
    font-family: ubuntu;
    src: url("./Fonts/Ubuntu/Ubuntu-Regular.ttf");
  }
  .heading{
    background-color: #2078BF;
    height: 7.5rem;
}
.active{
    text-decoration: underline solid white;
}
.nav-item{
    margin-left: 2.93rem;
}
.nav-link{
    font-size: 16px;
}
.dropdown-menu{
    padding: 0rem;
    margin: 0rem;
}
.dropdown-item:hover{
    background-color: #2078BF;
}
.buynow{
    border: 0.134rem solid #00C3FF!important;
    border-radius: 0.3125rem!important;
    height: 3.75rem;
    width:11.063rem;
    margin-right: 2.625rem;
    margin-left: 2.625rem;
}
.triangle-up {
	/* width: 0; */
	/* height: 0; */
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 11px solid #fff;
    position: absolute;
    top : -11px;
    left: 99px;
    
}
ul{
    padding-left: 0px!important;
}
.nav-item ul li{
    padding: 0;
}
.heading .dropdown-menu{
    border-radius: 00.3125rem;
    font-family: sans-serif;
    padding: 0px;
    
}
.heading .dropdown-menu .dropdown-item{
    color: #838383!important;
    padding-left: 5px;
}
.heading .dropdown-menu .dropdown-item:hover{
    background-color: #2078BF;
    color: #fff!important;
}
.login{
    height: 3.75rem;
    width:11.063rem;
    margin-right: 6.55rem;
}
.di{
    background-color: #2078BF;
}
#navbarSupportedContent{
    padding-top: 1rem;
    padding-right: 1rem;
}
.section1{
    background-color: #003966;
    margin:0;
    padding-right:9.606rem;
    /* padding-top:12.75rem; */
    height:53.75rem;
}

.theorya{
    font-size:3.5rem;
    font-weight: 43.75rem;
    width:38.56rem;
    height:14.625rem;
    /*padding-bottom:2.6875rem;*/
}
.theoryb{
    font-size:1.25rem;
    font-weight:25rem;
    margin-top: 2.6875rem;
    padding-top:2.6875rem;
}
.text{
    margin-bottom: 0rem;
}
.buynow2{
    border: 0.134rem solid white!important;
    border-radius: 0.3125rem!important;
    margin-left: 1.625rem;
    height: 3.75rem;
    width:11.063rem;
}
.learnmore{
    height: 3.75rem;
    width:11.063rem;
    background-color: #06864D;
}
.buttons{
    margin-top: 3.6875rem;
}
.checkboard{
     width:31rem;
     height:26.375rem;
     margin-top: 2rem;
}
@font-face {
    font-family: ubuntu-light;
    src: url("./Fonts/Ubuntu/Ubuntu-Light.ttf");
}

.head{
    background-color: #e5e5e5;
}

/* Start of Sell LiveStock */

.sell-livestock{
    background-color: #2078BF;
    width:47.06rem;
    height:48.841rem;
    margin-top:6.25rem;
    margin-left: 5.606rem;
    border-radius: 0.625rem;
    margin-bottom:6.875rem;
}
.sell-livestock article{
    padding-left:4.937rem;
    margin:0rem;
    padding-top:6.0293rem;
}
.sell-livestock .heading{
    width:41rem;
    height:11rem;
    margin-bottom:3rem;
}
.sell-livestock .heading li{
    font-weight: 700;
    font-size:2.25rem;
    padding-bottom: 35px;
}
.sell-livestock .description {
    width:31.05rem;
    height:6.56rem;
    margin-bottom:2.25rem;
}
.sell-livestock .description li{
    font-size:1.125rem;
    font-weight:400;
}
.sell-livestock .questions{
    width:29.687rem;
    height:10.375rem;
}
.sell-livestock .questions li{
    font-size: 1.125rem!important;
    font-weight: 700;
    padding-bottom: 20px;

} 
.sell-livestock button{
    height: 3.75rem;
    width:11.063rem;
    background-color: #06864D;
}
.sell-livestock .chessboard{
    width:42.36rem;
    height:36rem;
    margin-top:6.67rem;
    padding-right:6.436rem;
    position: absolute;
    left:46rem;
}
/* End of Sell LiveStock */

/* Start of Track LiveStock */
.track-livestock{
    height:22.847rem;
    background-color:#2078BF;
    position: relative;
}
.track-livestock article{
    margin-left:12.625rem;
}
.track-livestock .heading{
    max-width:27.81rem;
    line-height: 3.625rem;
    font-size:2.25rem;
    font-weight: bold;
    margin-top:4.5625rem;
}
.track-livestock .description{
    max-width:31.81rem;
    margin-top:0.875rem;
    font-size:1.125rem;
    line-height:2.1875rem;
}
.track-livestock .search-livestock{
    margin-top:7.5rem;
    margin-left:9rem;
}
.track-livestock .searchbar-heading{
    width:16.125rem;
    height:2.1875rem;
    font-size:1.6875rem;
    font-weight:43.75rem;
}
.track-livestock input{
    height:4.25rem;
    width:22.745rem;
    border-radius: 0.3125rem;
    padding-left: 21.92px;
    
}
.track-livestock input::placeholder{
    color:  #D7D7D7;
}
.goat-left{
    width: 140px;
    height: 121.53px;
    position: absolute;
    top: 71.93%;
    left:0%;
}
.goat-right{
    width: 112.78px;
    height: 97.9px;
    position: absolute;
    top: -6%;
    left:74%;
    transform: rotate(172.01deg);
}
.goat-mid{
   
    width: 109px;
    height: 94.62px;
    position: absolute;
    top: 78.93%;
    left: 49%;
    transform: rotate(-20.35deg);
}
.cow-left{
    position: absolute;
    left: -60px;
    top: -74px;
    transform: rotate(247deg);
}
.cow-mid{
    position: absolute;
    top: -54px;
    left: 656.55px;
}
.cow-right{
    position: absolute;
    right: -20px;
    top: 264px;
    transform: rotate(194deg);
}

/* End of Track LiveStock */

/* Start of About Us */
.about-us-bluerectangle{
    padding-left: 12.37rem;
    padding-top: 8.25rem;
}
.about-us-bluerectangle .chessboard{
    padding-top: 7.65rem;
    padding-left: 7.79rem;
}
.about-us article{
    
    padding-top: 10.09rem;
    margin-left: 4.88rem;
    max-width: 33.68rem;
    
}
.about-us h2{
    color: #2078BF;
    font-weight: 700;
    padding-left: 2rem;

}
.about-us .description{
    color: #838383;
    font-size: 1.12rem;
    list-style-type: none;
    font-size: 1.125rem;
    line-height:169.23%; 
    padding-left: 2rem;
    
}
.about-us .description .top-part{
    padding-top: 3.56rem;
    list-style-type: none;
}
.about-us .description .bottom-part{
    padding-top: 1.7rem;
    list-style-type: none;
}
.about-us-menu{
    padding: 2.93rem 0 0 1rem;
}
.about-us-menu figure{
    font-size: 0.7rem;
    width: 6rem;
    color: #838383;
    text-align: center;
}
.about-us .btn{
    width: 11.06rem;
    height: 3.75rem;
    font-size: 1.375rem;
    margin-left: 2rem;
    margin-top: 3.58rem; 
}
/* End of About Us */

/* Start of Be a Partner */

.be-a-partner{
    margin-top :4.07rem;
    padding-top: 10.062rem;
    width: 1137px;
    margin:auto;
}
.be-a-partner header{
        font-weight:bold;
        font-size: 2.25rem;
        max-width :14.43rem;
        height :2.5rem;
        color:#2078BF;
        margin-bottom: 65.25px;
}
.be-a-partner-image{
    width:33.75rem;
    height: 33.75rem;
    top: 222.453rem;
    left: 11.677rem;
    right: 48.322rem;
    
}
.be-a-partner .agent-checkbox{
    padding-right :3.58rem;
}
.be-a-partner .content-heading{
    color :#2078BF;
    width:16.78rem;
    height: 3.75rem;
    font-size:1.5rem;
    line-height: 4.87rem;
    font-weight :43.75rem;
    margin-top:3.16rem;
}
.be-a-partner .content{
    width:32.56rem;
    height: 6.06rem;
    font-weight: 43.75rem;
    font-size:1.125rem;
    line-height: 2.18rem;
    color : #838383;


}
.be-a-partner button{
    width:11.062rem;
    height:3.75rem;
    background-color:#06864d;
    margin-top:2.187rem;
    color:white;
    border-radius: 0.312rem;
}

/* End of Be a Partner */

/* Landing Page Video Start */
.landingpage-video{
    margin-top:6.625rem;
    height: 27.3437rem;
    background-color: #2078BF;
    opacity: 69.67%;
}
.play-button{
    cursor: pointer;
}
/* Landing Page Video End */

.section-d{
    height:62.125rem;
}

h1{
    color:#2078bf;
    padding-left:8.625rem;
    font-size:2.25rem;
    padding-top:6.093rem;
    font-weight:43.75rem;
}

.sub-title{
    color:#2078bf;
    padding-left:8.625rem;
    font-size:2.25rem;
    padding-top:6.093rem;
    font-weight:bold;
}

 .card-heading{
    font-size:1.125rem;
    font-weight : 700;
    color:#2078bf;
    line-height:2rem;
    padding:0;
    margin:0;
    width:100%
}
.card-content{
    font-size:0.875rem;
    font-weight:400;
    line-height:1.15rem;
    color:#838383;
    padding:0.3125rem;
    margin:0;
    width:100%;

}
.card-img-top{
    width:100%;
    height:10.1875rem;
  }

.row-cols-lg-4{
    padding-top:4.812rem;
    padding-left:8.737rem;
    padding-right: 6.824rem;
    

}
.our-blog .card{
     height: 28.5rem;
     margin-right: 1.4375rem;
      
}

.cards{
    margin-bottom: 9.0675rem;
      
}

/* our partners start */

.our-partners{
    margin-left:8.981875rem;
}
.our-partners h2, .clients h2{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 68px;
        color :#2078BF;
        
}
.our-partners .head-part ,.clients .head-part{
    margin:30px 0px;
}
.our-partners .arrows, .clients .arrows{
    margin-right: 100px;
}
.clients{
    margin-left:8.981875rem;
    margin-top:140px;
}

.clients .card{
    width: 570px;
    border-radius:10px;
    justify-content: space-between;

}
.clients .carousel-description{
    font-weight:400px;
    font-size:14px;
    line-height: 20px;
    font-family: ubuntu;
    width:264px;
    
}
.clients .carousel-radio{
    width:35px;
    height:35px;
    left: 180.96px;
}
.clients .client-details{
    top: calc(50% - 16px/2 + 2436.27px);
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
}
.clients label{
    color: #06864D;
}
.clients p{
    color: #838383;
}
/*satisfied clients / our partners end*/



.latestnews{
    font-weight:400 ;
    font-size:1rem;
    margin-bottom: 0%;
}
.newsletter{
    font-weight:400;
    font-size:3rem;
    /* margin:0; */
}
.txt{
    color:#2078BF;
    padding-top: 6.19625rem;
}
.blog-content{
    background-color: #F5FBFF;
}

.img-section{
    /* background: url('./Img/Illustration.png'); */
    background-repeat: no-repeat;
}

.content {
     color: #fff;
     font-size: 1rem;
     font-weight: 400;
     line-height: .8;
}
.head{
    font-size:1.375rem;
    font-weight:400;
}
.container{
        padding-right: 40px;
  
  }

  .faq{
      padding-left: 9.593rem;
  }
  .privacy{
      padding:0px 35px 0px 10px ;
  }
  li{
    list-style-type: none;
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
    letter-spacing: 0.00625rem;
    /* padding-bottom: 0.58rem; */
  }
  .in-li{
      opacity: 0.8;
  }

  .footer-list{
    gap: 1.66rem;
    padding-left: 0px;
  }
  
.bluerectangle{
    width: 22.812rem;
    height: 35.43rem;
    border-radius: 0.3125rem;
    position: relative; 
    left: 8.31%;
    margin-right: 50.937rem;
    top: 14.875rem;
    bottom: 57.42%;
}
.discript {
            color: #838383;
            position: absolute;
            left: 44.875rem;
            right: 12.25rem;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 2.185rem;
            padding-left: 5.687rem;
            padding-top:18.375rem;
        }

.features {
    position: absolute;
    left: 44.919rem;
    right: 25.955rem;
    padding-top: 12.125rem;

    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 4.875rem;
    color: #2078BF;
    padding-left: 7.687rem;

}

.bulletsremove li {
    list-style-type: none;
}

.brochure {
    width: 17.625rem;
    height: 3.75rem;
    margin-top: 1rem;
    right: 23.562rem;
}
.bg{
    background-color: #2078BF;
}
.tbl{
    margin-left: 9.25rem;
    margin-right: 7.3341rem;
    color: white;
    text-transform: capitalize;
}
.col-6{
padding: 0rem;
}
.row-a{
    padding-right: 1.209rem;
}
    
.box-a{
    height: 17.85rem;
    padding: 0px !important;
    padding-right: 1.209rem;

}
.box-b{
    height: 28.6931rem;
    padding: 0px !important;

}
.box-c{
    height: 28.6931rem;
    padding: 0px;
    /* background: url('./img/Rectangletbl.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer start */

.landing-footer{
    color: white;
    background-color: #2078BF;
    background-image: url("./Img/Illustration.svg") ;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    margin-top: 15rem;
} 
.landing-footer .app-benefits{
 width: 19rem;
 margin-left: 25rem;
 padding-top: 8.6875rem;
 font-family: Ubuntu;
}
.landing-footer .app-benefits h3{
    /* font-size: 40px; */
    font-weight: 400;
}
.landing-footer .mobile{
    left: 50.868rem;
    top:-8rem;
    position: absolute;
    z-index: 1;
  }
.landing-footer .subscribe-block{
    margin-top: 12rem;
    padding-left: 13rem;
    margin-bottom: 8rem;
    gap: 10rem;
    align-items: center;
}
.landing-footer .subscribe-block form{
    width: 540px;
    height: 60px;
}
.landing-footer .subscribe-block form button{
    width: 171px;
}
.landing-footer .footer-mid aside{
    margin-top: 3.8125rem;
    margin-left: 141px;
    width: 345px;
  }
.landing-footer .footer-mid .navigator{
    margin-left: 205px;
    margin-right: 136px;
}
.landing-footer .footer-mid .contacts .address{
    margin-left: 40px;
    max-width: 226px;
}
.landing-footer .footer-mid h3{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 32px;
}
.landing-footer .social-icons img{
    padding: 10px;
}
.landing-footer .bottom-line{
    margin: 0 156px;
}
.landing-footer .bottom-line ul{
    gap: 42px;
}
.landing-footer .links-part{
    background-image: url("./Img/shape.svg");
    background-repeat: no-repeat;
    background-position:right;
}



.section-e{
margin-left:8.981875rem;
}
.card-a{
    height:auto !important;

}



