.form{
    margin-left: 13.625rem;
    margin-top:5.687rem;
    width:56.062rem;
}
h2{
    font-weight:400;
    font-size:2.25rem;
    color:#838383;
    line-height:2.812rem;
    
}
.form p{
    font-size:0.875rem;
    color: #838383;
    line-height:2.812rem;
    font-weight:400;
}
label{
    font-weight:400rem;
    font-size:1.125rem;
    line-height:1rem;
    margin-bottom:1.595rem;
}
.form div{
    display:block;
}
.input-x{
    padding-top:1.246rem ;
    padding-right:0.886trem;
    padding-bottom: 1.01rem ;
    padding-left:1.59rem ;
    margin-bottom: 3.022rem;
}
.comment{
    height:14.5625rem;
    padding-top:1.246rem ;
    padding-right:0.886trem;
    padding-bottom: 1.01rem ;
    padding-left:1.59rem ;
    border-radius: 0.833rem;
    margin-bottom:3.375rem;
}
.doneBtn{
    padding-top:1.182rem;
    padding-bottom:1.182rem;
    padding-right:3.5rem;
    padding-left:3.5rem;
    font-weight:400;
    font-size:1.25rem;
    width:15rem;
}
@media (max-width:380px){
    .landingpage-header{
        height: 61px;
    }
    .form{
        margin-left: auto;
        padding-left: 44px;
        padding-right:95px;
    
    }
    .commentheading{
        width: 86px;
       
        top: 934px;
        margin-left: 0px;
        
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        /* line-height: 11px; */
    }
    .fullname{
        width: 236px;
        color: #838383;
        margin-bottom: 16px;
        font-size: 8px !important;
        /* margin-left: 44px; */
    }
    .Email{
        color: #838383;
        font-size: 8px !important;
    }
    .commenttitle{
        color: #838383 !important;
        font-size: 8px !important;
    }
    .fullnameinput{
        width: 236px !important;
        margin-bottom: 0px;
        font-size: 8px;
    }
    .emailinput{
        width: 236px !important;
        font-size: 8px;
        margin-bottom: 0px;
    }
    .commentinput{
        width: 236px !important;
       font-size: 8px;
        margin-bottom: 1px !important;
        
    }
     .sbutton{
        text-align: left !important;
        
    } 
    .doneBtn{
        width: 88.5px !important;
        height: 30px !important;
        /* text-align: center !important; */
        font-size: 10px !important;
        padding-left: 44px;
    }

}