.productdetails {
  margin-left:30px !important;
  margin-right: 30px !important;
}
.selectproduct{
  margin-left:40px !important;
  margin-right: 40px !important;
}

.breadCrumbs {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #838383 !important;
}

.breadCrumbs:hover {
  color: #2078bf !important;
}

#sub {
  margin-top: 4.4375rem;
  margin-left: 44px;
  // margin-left: 3.7vw;
  font-weight: normal;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #838383;
  text-align: left;
}
#sub2 {
  margin-top: 4.4375rem;
  margin-left: 4.65rem;
  // margin-left: 6.89rem;
  font-weight: normal;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #838383;
  text-align: left;
}
#marketHeading {
  width: 15.063rem;
  // height: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #838383;
  margin-top: 0.8rem;
  
}
#locationMarketHeading {
  height: 1.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #838383;
  text-align: start;

  margin-top: 1rem;
  
}
hr {
  margin-right: 6.625rem;
  border: 1px solid #d5d5d5;
}

.accordion-button::after {
  background-image: none !important;
}

.locNames {
  background: #ffffff;
  border: 1px solid #e0e0e0;
}

// .card-deck {
//   margin-right: 6.625rem;
//   margin-top: 10px ;
// }

.card-id {
  font-style: normal;
  font-weight: normal;
  font-size: 0.78rem;
  line-height: 1.5rem;

  letter-spacing: 0.1px;

  color: #838383;
  text-align: start;
}
.card-price {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.5rem;

  letter-spacing: 0.1px;

  color: #838383;
  text-align: start;
}
/* dropdown */
.location-btn {
  background-color: #ffffff;
  font-family: ubuntu;
  font-weight: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #838383;
}
.location-btn:active {
  background-color: #2078bf;
}
.productPage {
  .dropdown {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
  }
  .dropdown-menu {
    display: none;
  }
}

.horizontalRule {
  border: 1px solid #e0e0e0;
}
.dropdownToggle1 {
  padding-left: 12px;
  margin-right: 2rem;
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #838383;
}
.dropdownToggle1:hover{
  border: 2px solid #2078bf;
}

.dropdownToggle2 {
  padding-left: 12px;
  margin-right: 2rem;
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #838383;
  width: 5.6875rem;
}
.dropdownToggle2:hover{
  border: 2px solid #2078bf;
}

.sort{
  color: #838383;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.wishListImg {
  width: 30px;
  height: 30px;
}
.wishListButton {
  border: 1px solid rgb(230, 224, 224);
  border-radius: 5px;
  background-color: #ffffff;
}
// .emptydiv {
//   height: 7.25rem;
// }

//leftdiv css
#opened {
  background-color: #2078bf !important;
  color: #ffffff;
}

.locbtn {
  border: none;
  height: 2.5rem;
  width: 100%;
  font-size: 0.875rem;
  color: #838383;
}

.locbtn:hover {
  color: #fff;
  background-color: #2078bf !important;
}
.marketButton {
  font-size: 0.875rem;
  letter-spacing: 0.1px;
  line-height: 1.5rem;
  border: none;
  background-color: #ffffff;
  color: #838383;
  width:100%;
  text-align: left;
}
.marketButton:hover{
  background-color:#d5d5d5;
}
.addbtn{
  font-size:0.75rem !important;
  line-height:1.5rem !important;
  letter-spacing: 0.1px;
}
//for chrome
.locBox::-webkit-scrollbar{
  display: none;
}
//for edge
.locBox{
  -ms-overflow-style: none;
}

.locBox {
  // width:17.4vw;
  width: 20vw !important;
  margin-right: 2.5rem;
  
  border: 2px solid #e0e0e0;
  height: 15rem;
  overflow-y:scroll;
  border-radius: 5px;
}
.blue {
  width: 10px;
  height: 10px;
  color: #2078bf;
  // background-color: #2078bf;
  border-radius: 50px;
}
//selectedproduct page css
#marketHeading1 {
  width: 12rem;
  // height: 1.5rem;
  
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #838383;
  margin-top: 0.8rem;
  
}

.iconFilled {
  color: #06864d !important;
}
.price{
  letter-spacing: 0.1px;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.5rem;
  color: #838383;
  margin-top: 1.875rem;
  margin-bottom: 2.1875rem;
}
.qty{
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #838383; 
}

.quantity {
  width: 8.313rem;
  height: 2.438rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 1rem;
  

}
#text_code{
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #838383; 
  margin-bottom: 0;

}
.sucessbtn{
  width: 19.25rem;
  height: 3.125rem;
}
//for chrome
.locBox1::-webkit-scrollbar{
  display: none;
}
//for edge
.locBox1{
  -ms-overflow-style: none;
}
.locBox1 {
  width:18vw !important;
  // width: 20vw !important;
  margin-right: 1.5rem;
  margin-left: 1rem;
  border: 2px solid #e0e0e0;
  height: 15rem;
  overflow-y:scroll;
  border-radius: 5px;
}
.latestblog{
  width:18vw !important;
  // width: 20vw !important;
  margin-right: 1.5rem;
  margin-left: 1rem;
 
  // height: 15rem;
  
 

}
.descriptionbox{
  border: 1px solid #e0e0e0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1.5625rem;

}
.descriptionbox p{
  margin-bottom: 4px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #838383;
  
 
}
.descripbtn{
  width: 8.5rem;
  height: 3.5rem;
  margin-right:0.625rem ;
  margin-bottom: 0px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #838383;
  background-color: rgb(245,251,255);
  margin-top: 4.375rem;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.descripbtn:hover{
  border-top: 3px solid #2078bf;
}

.review{
  border: 1px solid #e0e0e0;
   border-radius: 5px;
  padding: 1.5625rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #838383;
}
.addbtn2{
  border-radius: 5px;
}
// .prodetail{
//   margin-left: 10px;
// }
.Image{
  
  width: 25vw;
  height: 26rem;
}


.productImage{
  width: 18.5vw;
  height: 12.5rem;
  margin-top: 5px;
  margin-bottom: 5px;



}
.fontColor{
  font-weight: bold;
  color: #838383;
}
.latestProductImage{
  width: 100%;
  height: 100%;
}
.latestProductDetails{
padding-left:4%;
}
.latestCards{
  padding:2%;
}



//mediaqueries for product page
@media (min-width:1025px) and (max-width:1200px){
  .locBox{
    margin-right: 30px;
  }
  .card-id{
    font-size: 0.7rem;
    line-height: 1rem;
    // margin-bottom: 0;
  }
  .card-price{
    font-size: 0.75rem;

  }
}
@media (min-width:993px) and (max-width:1024px){
  .locBox{
    margin-right: 0;
  }
  .collapse ul li{
    margin:0 !important;
  }
  // .productImage{
  //   width: 16vw;
  //   height: 12.5rem;
  //   margin-top: 5px;
  //   margin-bottom: 5px;
  // }
  .sort{
    font-size: 1rem;
    line-height: 1rem;
  }
  .dropdownToggle1, .dropdownToggle2{
    font-size: 1rem;
    margin-right: 7px;
    margin-left: 7px;

  }
  .card-id{
    font-size: 0.62rem;
    line-height: 1rem;
    margin-bottom: 0;
  }
  .card-price{
    font-size: 0.7rem;

  }

}
@media (min-width:768px) and (max-width:992px){
  .locBox{
    margin-right: 0;
  }
  .collapse ul li{
    
    margin:0 !important;
  }
  .locbtn{
    font-size: 0.8rem;
  }
  .marketButton{
    font-size: 0.8rem;
  }
  .sort{
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .dropdownToggle1, .dropdownToggle2{
    font-size: 0.875rem;
    margin-right: 7px;
    margin-left: 7px;

  }
  .dropdownToggle1{
    width:6.1rem;
    padding: 0;
  }
  .dropdownToggle2{
    width: 3rem;
    padding: 0;
  }
  .productcards .sort-filter{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .productImage{
    width: 16.5vw;
    height: 12.5rem;
    
  }

  .card-id{
    font-size: 0.5rem;
    line-height: 1rem;
    margin-bottom: 0;
  }
  .card-price{
    font-size: 0.7rem;

  }
  .addcartbtn{
    font-size: 0.8rem !important;
  }
}
@media (min-width:577px) and (max-width:768px){
  .locBox{
    margin-right: 0;
    width: 100%;
  }
  .collapse ul li{
    margin:0 !important;
  }
  .sort{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .dropdownToggle1, .dropdownToggle2{
    font-size: 0.8rem;
    margin-right: 5px;
    margin-left: 5px;

  }
  .dropdownToggle1{
    width:6.1rem;
    padding: 0;
  }
  .dropdownToggle2{
    width: 2.4rem;
    padding: 0;
  }
  .productcards .sort-filter{
    margin-top: 1.875rem !important;
    margin-bottom: 1.875rem !important;
  }
  .locbtn{
    font-size: 0.8rem;
  }
  .marketButton{
    font-size: 0.65rem;
  }
  span ,.blue{
   margin: 0 !important;
  }
  .productImage{
    width: 24vw;
    height: 12rem;
    
  }
  .card-id{
    font-size: 0.6rem;
    line-height: 1rem;
    margin-bottom: 0;
  }
  .card-price{
    font-size: 0.7rem;

  }
  .addcartbtn{
    font-size: 0.8rem !important;
  }
}
@media (min-width:0px) and (max-width:576px){
  .locBox{
    display: none;
  }
  .productdetails{
    margin: 0;
    width: 110vw;
  }
  // .productcards{
  //   margin: auto;
    
  //   padding: 0rem !important;
  // }
  #sub{
    display: none;
  }
  #marketHeading{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    margin-top: 1.5rem;
  }
  #locationMarketHeading{
    font-size: 0.625rem;
    line-height: 1.5rem;
    margin: 0;
  }
  .productcards .sort-filter{
    margin-top: 1.875rem !important;
    margin-bottom: 1.875rem !important;
  }
  .sort{
    font-size: 0.6rem;
    line-height: 0.8rem;
   
    
  }
  .dropdownToggle1, .dropdownToggle2{
    font-size: 0.6rem;
    height: 30px;
    margin:0px 5px;
    padding: 0;

  }
  .dropdownToggle1{
    width:4.1rem;
  }
  .dropdownToggle2{
    width: 2.9rem;
  }
  
  .card-id{
    font-size: 0.375rem;
    line-height: 0.43rem;
  }
  .card-price{
    font-size: 0.4rem;
    line-height: 0.43rem;

  }
  .card-body{
    padding: 0.75rem !important;
  }
  .productImage{
    width: 30vw;
    height: 9rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .wishListButton{
    height: 18px;
    width: 15px;
  }
  .wishListImg{
    width: 15px;
    height: 20px;
    padding-bottom: 9px;
    padding-right: 2px;
  }
  .addcartbtn{
    font-size: 0.55rem !important;
  }
}
/////responsive for select product page
@media (min-width:992px) and (max-width:1024px){
  .mobileview{
    display: none;
  }
}
@media (min-width:1024px) and (max-width:1500px){
  .mobileview{
    display: none;
  }
}

@media (min-width:769px) and (max-width:992px){
  .mobileview{
    display: none;
  }
  .selectproduct{
    margin-left: 25px !important;
    margin-right: 25px !important;

  }
  
  
  .locBox1{
    margin-right: 30px;
  }
   #marketHeading1{
     font-size: 1.3rem;
     margin-right:0 !important ;
  }
  .price{
    font-size: 1.3rem;

  }
  // .prodetail{
  //   width:10vw;
  // }
  .sucessbtn{
    width: 15rem;
    height: 3.125rem;
  }
  .descripbtn{
    margin-top: 3rem;
  }
}
@media (min-width:577px) and (max-width:768px){
  .mobileview{
    display: none;
  }
  .selectproduct{
    margin-left: 20px !important;
    margin-right: 25px !important;

  }
  
  
  .locBox1{
    margin-right: 20px ;
  }
  #marketHeading1{
    font-size: 1.1rem;
    margin-right:0 !important ;
    margin: 0;
 }
 .price{
   font-size: 1.1rem;
   margin: 0;
  

 }
 .Image{
   height: 20rem;
 }
 .prodetail{
   margin-left: 12px;
 }
 .sucessbtn{
   width: 12rem;
   height: 2.75rem;
 
  }
  .descripbtn{
    margin-top: 2.3rem;
    width: 6rem;
    height: 2.75rem;
  }
  .descriptionbox{
    padding: 0.87rem;
  }
  .latestProductImage{
    display: none;
  }
  .latestcardid{
    font-size: 0.45rem;
  }
}
@media (min-width:0px) and (max-width:576px){
  .productPage{
    display: none;
  }
  .mobileview{
    margin: auto;
    // margin-left: 50px;
    // margin-right: 50px;
  }
  #marketHeading2 {
    // width: 15.063rem;
    // height: 1.5rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.436rem;
    color: #838383;
    margin-top: 0.8rem;
    // margin-left: 4rem;
    
  }
  .price1{
    letter-spacing: 0.1px;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.6875rem;
    color: #838383;
    // margin-top: 1.875rem;
    margin-bottom: 1.531rem;
  }
  .mobileImage{
    width: 60vw;
    height: 14.625rem;

  }
  .sucessbtn{
    width: 15.2rem;
  }
  .product-details{
    margin-left: 2.5rem;
  }
  #text_code{
    margin-top: 5px;
    font-size: 0.5rem;
    line-height: 0.586rem;
  }
  .qtybtn{
    margin-right: 5rem !important;
  }
  .qtybtn p{
    line-height: 1.25rem;
    font-size: 0.5rem;
    margin-right: 5px;

  }
  .descriptionbox p{
    font-size: 0.5rem;
    line-height: 0.8rem;
    text-align: start;

  }
  .descriptionbox{
    padding: 0.8rem;
  }
  .descripbtn{
    width:7.4rem;
    height:2.06rem;
    font-size: 0.5rem;
    line-height: 0.8rem;
    margin-top: 1.875rem;

  }
  .description{
    margin-left: 6rem !important;
    // width:70vw;
    
  }
  .qtybtn .qtycount{
    border: 1px solid #e0e0e0;
    font-size: 0.6rem;
    padding: 10px;
    border-radius:5px ;
    // width: 2rem !important;
    // height: 25px !important;
    background-color: #ffffff;
  }
  .latesthead{
     text-align: start;
     margin-left: 6rem;
    margin-top: 1.625rem;
  }
  .latestblog{
    margin-left: 6rem;
  }
  .latestCards{
    margin-right: 0.5rem;
  }
  .card{
    margin-right: 0.5rem;
    

  }
}

