.breadCrumbs {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #838383 !important;
}

.breadCrumbs:hover {
  color: #2078bf !important;
}

#sub {
  margin-top: 4.4375rem;
  margin-left: 6.75rem;
  font-weight: normal;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #838383;
  text-align: left;
}
#marketHeading {
  width: 15.063rem;
  // height: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.5rem;
  color: #838383;
  margin-top: 0.8rem;
  
}
#locationMarketHeading {
  height: 1.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #838383;
  text-align: start;

  margin-top: 1rem;
}
hr {
  margin-right: 6.625rem;
  border: 1px solid #d5d5d5;
}

.accordion-button::after {
  background-image: none !important;
}

.locNames {
  background: #ffffff;
  border: 1px solid #e0e0e0;
}

// .card-deck {
//   margin-right: 6.625rem;
//   margin-top: 10px ;
// }
.card-id {
  font-style: normal;
  font-weight: normal;
  font-size: 0.78rem;
  line-height: 1.5rem;

  letter-spacing: 0.1px;

  color: #838383;
  text-align: start;
}
.card-price {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.5rem;

  letter-spacing: 0.1px;

  color: #838383;
  text-align: start;
}
/* dropdown */
.location-btn {
  background-color: #ffffff;
  font-family: ubuntu;
  font-weight: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #838383;
}
.location-btn:active {
  background-color: #2078bf;
}
.productPage {
  .dropdown {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
  }
  .dropdown-menu {
    display: none;
  }
}

.horizontalRule {
  border: 1px solid #e0e0e0;
}
.dropdownToggle1 {
  padding-left: 12px;
  margin-right: 2rem;
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #838383;
}
.dropdownToggle2 {
  padding-left: 12px;
  margin-right: 2rem;
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #838383;
  width: 5.6875rem;
}

.sort{
  color: #838383;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.wishListImg {
  width: 30px;
  height: 30px;
}
.wishListButton {
  border: 1px solid rgb(230, 224, 224);
  border-radius: 5px;
  background-color: #ffffff;
}
.emptydiv {
  height: 7.25rem;
}

//leftdiv css
#opened {
  background-color: #2078bf !important;
  color: #ffffff;
}
.locbtn {
  border: none;
  height: 2.5rem;
  width: 100%;
  font-size: 0.875rem;
  color: #838383;
}
.marketButton {
  font-size: 0.875rem;
  letter-spacing: 0.1px;
  line-height: 1.5rem;
  border: none;
  background-color: #ffffff;
  color: #838383;
}

.locBox {
  width: 17.4vw !important;
  margin-right: 2.5rem;
  
  border: 2px solid #e0e0e0;
  height: 15rem;
  overflow-y: scroll;
  border-radius: 5px;
}
.blue {
  width: 10px;
  height: 10px;
  color: #2078bf;
  // background-color: #2078bf;
  border-radius: 50px;
}
//selectedproduct page css

.iconFilled {
  color: #06864d !important;
}
.price{
  letter-spacing: 0.1px;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.5rem;
  color: #838383;
  margin-top: 1.875rem;
  margin-bottom: 2.1875rem;
}
.qty{
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #838383; 
}

.quantity {
  width: 5.313rem;
  height: 2.438rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 1rem;
  

}
#text_code{
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #838383; 
  margin-bottom: 0;

}
.sucessbtn{
  width: 19.25rem;
  height: 3.125rem;
}

.descriptionbox{
  border: 1px solid #e0e0e0;
   
  padding: 1.5625rem;

}
.descriptionbox p{
  margin-bottom: 4px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #838383;
  
 
}
.descripbtn{
  width: 8.5rem;
  height: 3.5rem;
  margin-right:0.625rem ;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #838383;
  background-color: rgb(245,251,255);
  margin-top: 4.375rem;
  border: 1px solid #e0e0e0;
}
.descripbtn:hover{
  border-top: 3px solid #2078bf;
}

