@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.sidebar li svg, .notifications svg {
  width: 1.573rem;
  height: 1.54rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  background-color: #F5FBFF;
  overflow-x: hidden;
}

.mainHeader .navbar {
  position: fixed;
  background-color: #2078BF;
  height: 7.5rem;
  padding: 0;
  margin: 0;
  z-index: 9999;
  padding-left: 45.375rem;
  width: 100%;
}

.searchBar .searchInput {
  padding-left: 2.375rem;
  background-color: #2078BF;
  color: #fff;
  border: 0.0625rem solid #00C3FF;
  border-radius: 0.3125rem;
  width: 22.0625rem;
  height: 2.688rem;
  font-style: italic;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  letter-spacing: 0.00625rem;
  opacity: 0.5;
}
.searchBar .searchIcon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.688rem;
  font-size: 1.5rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #fff;
}
.searchBar input::placeholder {
  color: #fff;
  font-style: italic;
}

.container-fluid {
  margin: 0;
  padding: 0;
  margin-right: 11.2475rem;
  margin-left: 3.76rem;
}

.notifications {
  width: 2rem;
  margin-right: 2.2rem;
}
.dropdown .dropdown-menu {
  padding: 0;
  margin: 0;
  border: 1px solid #E0E0E0;
}
.dropdown .dropdown-item {
  font-weight: thin;
  margin: 0;
}
.dropdown .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}
.dropdown .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: "";
}
.dropdown .dropdown-item:hover {
  color: #fff;
  background-color: #2078BF;
}

.sidebar {
  width: 4.375rem;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  overflow-x: hidden;
  left: 0;
  margin-top: 7.5rem;
}
.sidebar li a {
  text-align: center;
  padding-top: 2.3rem;
}
.sidebar li a:hover {
  color: #2078BF;
}
.sidebar li .active svg {
  color: #2078BF;
}
.sidebar li svg:hover {
  color: #2078BF;
}

#mainContent {
  margin-left: 4.375rem;
  padding-top: 7.5rem;
}

footer {
  background-color: #2078BF;
  width: 100%;
  margin-top: 6.4375rem;
}

.part1 {
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
}
.part1 .para {
  font-size: 1rem;
}
.part1 .quicklink h3 {
  font-size: 1.375rem;
  font-weight: lighter;
  font-style: normal;
  line-height: 1.5rem;
}
.part1 .quicklink a {
  font-size: 0.875rem;
  font-weight: lighter;
  line-height: 1.9rem;
}

.bg-bubble {

  background-size: 2rem 2rem cover;
  background-repeat: no-repeat;
}

.end p {
  font-size: 0.62rem;
  text-transform: uppercase;
}
.end .terms {
  font-family: "Karla";
  font-size: 0.7rem;
}

.app a {
  border-radius: 0.5rem;
  width: 8.5rem;
  height: 3rem;
  background-color: #212121;
  color: #616161;
}
.app a p {
  font-size: 0.5rem;
}

.address {
  padding-left: 2.5rem;
}

.copyright {
  font-size: 0.625rem;
  letter-spacing: 0.094rem;
}

.footerEnd .logo {
  width: 1.151rem;
  height: 1.151rem;
  margin-right: 0.668rem;
}

#mainContent {
  margin-left: 4.375rem;
  padding-top: 7.5rem;
}

.profileSection {
  margin: 0;
  padding: 0;
  margin-left: 9.75rem;
  margin-right: 11.2475rem;
  margin-top: 6.5625rem;
  box-sizing: border-box;
}
.profileSection .headingText h2 {
  color: #2078BF;
  font-weight: bolder;
  margin: 0;
  font-size: 2.25rem;
  line-height: 1rem;
}
.profileSection header {
  margin-bottom: 2.9375rem;
  height: 2.8125rem;
}

.formContainer {
  width: 100%;
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0rem 1.875rem 2.5rem #E3F3FF;
  border-radius: 0.625rem;
  box-sizing: border-box;
}
.formContainer p {
  width: 12.553rem;
  height: 1.505rem;
  margin: 3.575rem 0rem;
  font-family: ubuntu;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: -0.063rem;
  display: inline-block;
  color: #838383;
}

#resetButton {
  margin-top: 3rem;
  float: right;
}

form label {
  color: #838383;
  font-size: 1.125rem;
  margin-bottom: 1.625rem;
  font-family: ubuntu;
  line-height: 1rem;
  letter-spacing: 0.025rem;
}
form .row {
  border: 1.5px solid #E0E0E0;
  border-radius: 0.313rem;
  padding: 0.1rem 0rem;
  margin-bottom: 1.5rem;
}
form .row i {
  color: #2078BF;
  float: right;
  padding: 0.5rem 0.5rem;
}
form button {
  width: 12.25rem;
  height: 3.125rem;
  display: block;
  margin: auto;
}
form button a {
  text-decoration: none;
  color: white;
}
form input {
  border: none;
  outline: none;
  font-size: 1.125rem;
  width: 100%;
  height: 2.3em;
}

#saveButton {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-family: ubuntu;
  margin-bottom: 2rem;
}

.resetpage {
  margin-top: 3.812rem;
  color: #2078BF;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
}

@media (max-width: 584px) {

  #maincontent {

    width: 1rem;

    padding: auto;

  }



  .row {

    margin-bottom: 0.9375rem;

    width: 1rem;

    overflow-y: scroll;

    padding: auto;

  }

  .row i {

    width: 1rem;

    padding-right: auto;

  }



  input {

    max-height: 300px;

    overflow-y: scroll;

    width: auto;

    border: none;

    outline: none;

    font-size: 1.125rem;

    width: 1rem;

    height: 2.3em;

  }



  button {

    max-width: 1rem;

    padding: auto;

  }



  .resetpage {

    width: 1rem;

    padding: auto;

  }



  #savebutton {

    width: 1rem;

  }

}

@media (max-width: 576px) {

  .searchBar .searchInput {

    width: auto;

  }



  .mainHeader .navbar {

    padding-left: 0;

  }



  .container-fluid {

    margin: 0;

  }

}

@media (min-width: 577px) and (max-width: 1000px) {

  .mainHeader .navbar {

    padding-left: 20rem;

  }

}