.comment_box{
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
.clients{
    margin-bottom: 161px;
}
.clients .card{
    /* width: 570px; */
    border-radius:0.625rem;
    /* justify-content: space-between; */

}
.clients .carousel-description{
    font-weight:25rem;
    font-size:0.875rem;
    line-height: 1.25rem;
    font-family: ubuntu;
    width:16.5rem;
    
    
}
.clients .carousel-radio{
    width:2.187rem;
    height:2.187rem;
    left: 11.31rem;
}
.clients .client-details{
    /* top: calc(50% - 16px/2 + 2436.27px); */
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0.312rem !important;
    letter-spacing: 0.025rem;
}
.clients label{
    color: #06864D;
}
.clients p{
    color: #838383;
}

@media (max-width:380px){
    .clients{
        margin: auto;
        margin-top: 1.25rem;
        width: 17.812rem;
    }
    .clients h2{
        font-size: 0.937rem;
        line-height: 120%;
        margin: 0%;
        /* margin-left: 30PX; */
    }
    .clients .card{
        width: 100%;
        border-radius:0.625rem;
        /* justify-content: space-between; */
    
    }
    .clients .carousel-description{
        font-weight:25rem;
        font-size:0.625rem;
        line-height: 1.25rem;
        font-family: ubuntu;
        width:80%;
    }
    .clients .client-details{
        /* top: calc(50% - 16px/2 + 2436.27px); */
        width: 60%;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 0.625rem;
        line-height: 1rem;
        /* margin: 5px !important; */
        letter-spacing: 0.025rem;
    }.head-part{
        margin-bottom: 0% !important;
    }
    .comment_box{
        width: 100%;
        /* margin: auto; */
        flex-wrap: wrap;
    }
}

