.comment_box{
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
.clients .card{
    /* width: 570px; */
    border-radius:10px;
    /* justify-content: space-between; */

}
.clients .carousel-description{
    font-weight:400px;
    font-size:14px;
    line-height: 20px;
    font-family: ubuntu;
    width:264px;
    
    
}
.clients .carousel-radio{
    width:35px;
    height:35px;
    left: 180.96px;
}
.clients .client-details{
    top: calc(50% - 16px/2 + 2436.27px);
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 5px !important;
    letter-spacing: 0.4px;
}
.clients label{
    color: #06864D;
}
.clients p{
    color: #838383;
}

@media (max-width:640px){
    .clients .card{
        width: 300px;
    }
    .arrows{
        display:none;
    }
}

