
.login-window{
    .login-btn{
        width: 10.93rem;
    height: 3.625rem;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 2rem;
    border: 2px solid #00c3ff;
    background-color: #06864D;
    border: none;
    align-items: center;
    }
    .modal-title{
    color: #2078bf;
}
    .modal-dialog-centered{
        width: 676px;
    }
    label{
        color: #838383;
    }
    input::placeholder{
        color:#dcdcdc
    }
    form {
        width: 27.18rem;
        margin: auto;
        .login{
            height: 3.125rem;
        margin-right: 0;
    }
    a{
        text-decoration: none;
        color: #333333;
    }
    }
    .link:hover{
        color: #2078bf!important;
        cursor: pointer;
    }
    
}