 .popupheading{
        color: #2078BF;
        width: 555px;
        height: 24px;
        left: 472px;
        top: 254px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        margin-left: 17rem;
        margin-top: 5rem;
    }
    .form-paragraph{
        color: #2078BF;
        width: 251px;
        height: 24px;
        left: 624px;
        top: 308px;
        font-family: Ubuntu; 
        font-style: normal; 
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        margin-left: 26rem;
        margin-top: 1rem;
        margin-bottom: 7rem;
    }
    .Continuebutton{
        border: 0.134rem solid #00C3FF;
        border-radius: 0.3125rem;
        height: 2.75rem;
        width:11.063rem;
        margin: 2rem 2.625rem;
        margin-top:10rem ;
    }
   .cart-icon{
       position: absolute;
       left:86%;
       
   }
   .viewall-icon{
    position: absolute;
    left:80%;
    top:30%;
   }